/****************************
 * General
 ***************************/

* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: 'Arial', sans-serif;
	color: #454545;	
  background-color: #fefefe;	
  font-size: 12px;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/****************************
 * Wrapper/Container
 ***************************/

header {
	margin: 0 0 30px 0;
	padding: 0 0 30px 0;
	border-bottom: 1px solid #ccc;
}

#wrapper {
	padding: 60px;
}

section {
  float: left;
  margin: 0 60px 60px 0;
}

/****************************
 * Content
 ***************************/

button {
	display: inline-block;
	padding: 5px;
	background-color: #ccc;
	margin: 10px 5px 0 0;
	border: none;
}

button:hover {
	cursor: pointer;
	background-color: #ddd;
}

button:focus, button:active {
  outline: none;
}

h3 {
  margin: 0 0 20px 0;
}

p {
  margin: 0 0 10px 0;  
}

table {
  padding: 0px;
  border-collapse: collapse;
}

table td,
table th {
  border: 1px solid #ccc;
  padding: 5px;
}

table tr th:first-child {
  text-align: left;
}

table tr td {
  text-align: right;
}

table tr td:first-child {
  text-align: left;
}

/****************************
 * SVG
 ***************************/

#chart {
  padding: 20px;
  border: 1px solid #ccc;
  display: none;
}

svg text.name {
  text-anchor: end;
}
 
svg text.value {
  fill: rgba(255,255,255,0.9);
}

svg text.year {
  text-anchor: start;
  fill: rgba(255,255,255,0.5);
}